<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="McPizza UI Automation Suite">

    <listeners>
        <listener class-name="org.qa.ExtentReportListener.ExtentReporterNG"/>
        <listener class-name="org.qa.util.SuiteListener"/>
    </listeners>

    <test name="McPizza Functional Tests">
        <classes>
            <class name="org.qa.tests.LoginPageTest"/>
            <class name="org.qa.tests.ChatPageTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->